/* ----- GENERAL SELECTORS ----*/

:root{
    --primary-color: rgb(0, 97, 255);
    --primary-color-light: rgb(180, 208, 231);
    --default-space: 125px;
    --default-font-size: 2.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

section{
    height: 720px;
    width: 100%;
    padding-top: var(--default-space);
    padding-bottom: var(--default-space);
}

h1{
    font-size: calc(var(--default-font-size) + 2rem);
    font-weight: 800;
}

h2{
    font-size: calc(var(--default-font-size) + 0.5rem);

}

.container{
    width: 980px;
}

.button{
    color: white;
    background-color: var(--primary-color);
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.button:hover span{
    text-decoration: underline;
}

.button:hover, i:hover{
    cursor: pointer;
}

/* ----- HEADER ----- */

/* ----- NAV BAR ----- */
header{
    position: relative;
}

.nav-bar{
    height: 75px;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.2);
    position: fixed;
    z-index: 3;
}

.nav-section{
    width: 750px;
    height: 100%;
    padding: 0px 20px;
    gap: 1rem;
}

.nav-left{
    align-items: center;
}

.nav-right{
    align-items: center;
    justify-content: flex-end;
}

.nav-list{
    justify-content: center;
    align-items: center;
    line-height: 100%;
    text-decoration: none;
    list-style: none;
}

.nav-list li{
    display: inline-block;
    margin: 0 20px;
}

.nav-list span:hover {
    cursor: pointer;
    text-decoration: underline grey;
}

/* ----- SEZIONE JUMBO ------*/
.jumbo{
    background-color: var(--primary-color-light);
    margin-top: 75px;
    padding-bottom: 0px;
    justify-content: center;
    align-self: flex-end;
    
}

.jumbo i{
    font-size: var(--default-font-size);
    align-self: flex-start;
    justify-self: flex-end;
    margin-bottom: 0;
}

.jumbo-container{
    flex-direction: column;
    width: 1175px;
}

.jumbo-bottom{
    margin-top: 50px;
    align-self: flex-end;
}

.jumbo-text-box{
    width: 30%;
    flex-direction: column;
    gap: 1.75rem;
}

.jumbo-bottom p{
    line-height: 22.5px;
}

.jumbo-text-box i{
    padding-top: 10px;
}

.jumbo-image-container{
    width: 70%;
    position: relative;
}

.jumbo-img{
    object-fit: contain;
    height: 500px;
    position: absolute;
    bottom: -20px;
    top: 0px;
}

/* ----- MAIN - SEZIONI ----- */

/* ----- SEZIONE BUSINESS PLANS -----*/
.business-plans{
    margin-top: 150px;
    justify-content: center;
}

.fatturazione{
    padding: 75px 0px;
}

.radio{
    margin-right: 100px;
    padding-left: 5px;
}