/* ----- GENERAL SELECTORS ----*/

:root{
    --primary-color: rgb(0, 97, 255);
    --primary-color-light: rgb(180, 208, 231);
    --default-space: 75px;
    --default-font-size: 2.5rem;
    --border-color: rgb(208, 208, 211);
    --bottom-over-color: rgb(2, 57, 146);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
}

section{
    width: 100%;
    padding-top: var(--default-space);
    padding-bottom: var(--default-space);
    display: flex;
    justify-content: center;
}

h1{
    font-size: calc(var(--default-font-size) + 2rem);
    font-weight: 800;
}

h2{
    font-size: calc(var(--default-font-size) + 0.25rem);
    margin-bottom: 5rem;
}

h3{
    padding-bottom: 10px;
    font-size: 1.25rem;
}

.container{
    max-width: 980px;
}

ul{
    list-style: none;
}

li:hover{
    cursor: pointer;
    text-decoration: underline grey;
}

.button{
    color: white;
    background-color: var(--primary-color);
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.white-button{
    background-color: white;
    color: black;
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.button:hover{
    background-color: var(--bottom-over-color);
}

.white-button:hover{
    background-color: rgb(236, 236, 236);
}

.button:hover,.white-button:hover{
    text-decoration: underline;
    cursor: pointer;
}


.hoverable-icon:hover{
    cursor: pointer;
}

footer{
    background-color: rgb(0, 0, 0);
}

/* ----- HEADER ----- */

/* ----- NAVIGATION BAR ----- */
header{
    position: relative;
}

.nav-bar{
    height: 75px;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.2);
    position: fixed;
    z-index: 3;
}

.nav-section{
    width: 750px;
    height: 100%;
    padding: 0px 20px;
    gap: 1rem;
}

.nav-left{
    align-items: center;
}

.nav-right{
    align-items: center;
    justify-content: flex-end;
}

.nav-list{
    justify-content: center;
    align-items: center;
    line-height: 100%;
    text-decoration: none;
}

.nav-list li{
    display: inline-block;
    margin: 0 20px;
}

.nav-list span:hover {
    cursor: pointer;
    text-decoration: underline grey;
}

/* ----- JUMBO SECTION ------*/
.jumbo{
    background-color: var(--primary-color-light);
    margin-top: 75px;
    padding-bottom: 0px;
    justify-content: center;
    align-self: flex-end;
}

.jumbo i{
    font-size: var(--default-font-size);
    align-self: flex-start;
    justify-self: flex-end;
    margin-bottom: 0;
}

.jumbo-container{
    flex-direction: column;
    width: 1175px;
}

.jumbo-bottom{
    margin-top: 50px;
    align-self: flex-end;
}

.jumbo-text-box{
    width: 30%;
    flex-direction: column;
    gap: 1.75rem;
}

.jumbo-bottom p{
    line-height: 22.5px;
}

.jumbo-text-box i{
    padding-bottom: 25px;
}

.jumbo-image-container{
    width: 70%;
    position: relative;
}

.jumbo-img{
    object-fit: contain;
    height: 500px;
    position: absolute;
    bottom: -20px;
    top: 0px;
}


/* ----- MAIN - SECTIONS ----- */


/* ----- BUSINESS PLANS SECTION -----*/

.business-plans{
    margin-top: 150px;
}

.fatturazione{
    padding-bottom: 50px;
}

.radio{
    margin-right: 100px;
    padding-left: 5px;
}

/* ----- BUSINESS PLANS CONTAINER ----- */
.business-plans-container{
    flex-direction: row;
    gap: 1rem;
}

.business-plans-container .card-title{
    text-align: center;
    border: 1px solid var(--border-color);
    padding: 5px;
}

.business-plans-container i{
    padding-right: 10px;
    padding: 5px;
}

.business-plans-container .col{
    /*Flex basis 0 da la larghezza delle colonne 0
    sarò poi flex grow a dare loro una larghezza 
    partendo dalla dimensione minima, ossia 0*/
    flex-grow: 1;
    flex-basis: 0;
}

.business-plans-container .card-body{
    border: 1px solid var(--border-color);
    border-top: 0px;
    padding: 20px;
    line-height: 20px;
    font-size: .9rem;
}

.business-plans-container .card-body a{
    text-decoration: underline;
    color: rgb(0, 0, 238);
}

.business-plans-container .card-body a:hover{
    cursor: pointer;
}

.plan-frequency{
    color: grey;
}

.card-body > div{
    margin: 35px 0px;
}

.plan-features{
    flex-direction: row;
    margin: 10px 0px;
    justify-content: flex-start;
}

.business-plans-container hr{
    max-width: 20%;
    height: 1px;
}

.fa-check{
    color: rgb(66, 109, 255);
}

/* ----- BOTTOM COLUMN ------ */
.col-bottom{
    margin-top: 50px;
}

.col-bottom .card-title{
    text-align: center;
    border: 1px solid var(--border-color);
    padding: 5px;
}

.col-bottom i{
    padding-right: 10px;
    padding: 5px;
}

.col-bottom .card-body{
    border: 1px solid var(--border-color);
    border-top: 0px;
    padding: 0px 20px;
    line-height: 20px;
    font-size: 0.9rem;
}

.col-bottom .plan-features{
    margin-top: 50px;
}

#button-container{
    justify-content: center;
    padding: 20px;
}

.button-container .button{
    width: 100%;
    height: 100%;
    align-self: flex-start;
}

/* ----- CONTACT FORM ----- */

.contact-img img{
    object-fit: contain;
    max-width: 100%;
}

.contact-text{
    width: 100%;
    padding: 40px;
    line-height: 25px;
}

.contact-text h3{
    font-size: 1.75rem;
    padding-bottom: 30px;
    line-height: 35px;
}

.contact-text p{
    font-size: 1rem;
}

.contact-box .white-button{
    border: 1px solid black;
}


/* ----- DROPBOX BUSINESS FEATURES ----- */

.business-features{
    flex-flow: row wrap;
    flex-basis: 33.3%;
}

.business-features h3{
    padding-bottom: 2rem;
}

.business-col{
    flex-basis: 33.3%;
    padding: 0rem 1rem;
}

.business-card{
    padding: 3.5rem 0rem 3.5rem 0rem;
}

.business-features img{
    width: 100%;
}

/* ----- DROPBOX USERS COUNT SECTION ----- */

.user-count *{
    justify-self: flex-start;
}

.user-count h2{
    display: block;
    max-width: 70%;
}

/* ----- PARTNERS SECTION ----- */

.partners{
    padding-bottom: 0rem;
}

.partner-box{
    flex-flow: row;
    width: 100%;
    flex-grow: auto;
    width: 100%;
    height: calc(100vw / 3);
    padding-bottom: 0rem;
}

.partner-third{
    flex-flow: row wrap;
}

.partner-third{
    flex-basis: 33.3%;
    flex-flow: row wrap;
}

.partner-third div{
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
}

.partner-box img{
    max-width: 50%;
    max-height: 50%;
}

.focused{
    background-color: rgb(245, 245, 245);
    padding: calc(var(--default-space) - 1rem);
    height: 100%;
    overflow: auto;
}

.focused hr{
    max-width: 125px;
    margin: 3rem 0rem;
}

.focused p,span{
    padding-bottom: 3rem;
    font-size: 1rem;
}

.designit{
    background-color: rgb(162, 211, 155);
}

.arizona{
    background-color: rgb(97, 8, 43);
}

.florida{
    background-color: rgb(0, 147, 206);
}

.topps{
    background-color: rgb(255, 28, 28);
}

.bicycle{
    background-color: rgb(213, 0, 31);
}

.hearst{
    background-color: rgb(180, 208, 231);
}

.lonely{
    background-color: rgb(13, 36, 129);
}

.clearchannel{
    background-color: rgb(255, 216, 48);
}

/* ----- FREE TRIAL ----- */

.trial-sec{
    background-color: rgb(180, 208, 231);
    justify-content: center;
}

.trial-container{
    flex-flow: row;
    height: 250px;
}

.trial-text{
    width: 60%;
    color: rgb(97, 8, 43);
    align-items: center;
    justify-content: flex-start;
}

.trial-text h2{
    margin-bottom: 0;
}

.trial-button{
    align-items: center;
    width: 40%;
}

.trial-button .white-button{
    background-color: white;
    color: black;
    margin-top: 0;
}

/* ----- FAQ ----- */

.faq{
    height: 700px;
}

.accordion{
    width: 980px;
}

.faq-box{
    align-items: center;
    justify-content: flex-start;
    flex-flow: wrap;
}

.question{
    border: 1px solid var(--border-color) ;
    border-left: none;
    border-right: none;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    transition: 10s;
    width: 100%;
}

.question span{
    width: 90%;
}

.question.middle{
    border: none;
}

.hidden-reply{
    color: grey;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: visibility 0s, opacity 0.5s linear;
}

.accordion span{
    padding-bottom: 0;
    margin: 30px 0px;
}

.accordion i{
    margin-right: 20px;
    transform: rotate(180deg);
}

.accordion i:hover{
    cursor: pointer;
}

.question:hover .hidden-reply{
    display: block;
    margin: 20px 0px 40px;
    visibility: visible;
    opacity: 1;
    height: 100%;
    padding-left: 10px;
}

.question:hover .question i{
    transform: rotate(180deg);
}

/* ----- FOOTER ----- */

footer{
    align-items: center;
    justify-content: center;
    padding: var(--default-space);
    color: white;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.2);
}

.footer-container{
    flex-direction: row;
    width: 1175px;
}

.site-map{
    padding-bottom: 5rem;
    justify-content: space-between;
    align-items: flex-start;
}

.site-map ul li:first-of-type{
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.site-map ul li:first-of-type:hover{
    cursor: auto;
    text-decoration: none;
}

footer h3{
    font-size: calc(var(--default-font-size) - 0.75rem);
    padding-bottom: 1.25rem;
}

footer ul{
    line-height: 40px;
}

footer hr{
    max-width: 10%;
    margin: 3rem 0rem;
}

footer i{
    padding-right: 10px;
}

footer i:last-of-type{
    padding-left: 10px;
}



